---
layout: default
title:  DIYLaserBed
---

<img src="images/DIYLB.gif"></img>

<p>The <strong>DIYLaserBed</strong> is a hight adjustable bed for K40 laser cutters and clones..

{% include LatestPosts.html %}
