<div class="links">
<h1>Related Projects</h1>

<!-- DIYWaterChiller --> 
<div class="link">
<a class="active" href="//hotwolf.github.io/DIYWaterChiller">
<h1>DIYWaterChiller</h1>
Water cooler for a CO2 Laser 
</a>
</div><!--<div id="link">-->


<!-- Project Overview -->
<div class="link">
<a class="active" href="//hotwolf.github.io">
<h1>...more</h1>
Overview of all projects on hotwolf.github.io
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
