<html>
<head>
<title>DIYLaserBed - {{ page.title }}</title>
<link href="{{ site.url }}/Oscilloscope.css" rel="stylesheet" type="text/css" />
<link href="{{ site.url }}/DIYLaserBed.atom"     rel="alternate"  type="application/atom+xml" title="DIYLaserBed" />
<link href="{{ site.url }}/favicon.ico"      rel="shortcut icon" />
</head>
<body>

<div id="background1"></div>
<div id="background2"></div>
<div id="background3"></div>
<div id="background4"></div>

<div id="sidebar">

{% include ProjectLinks.html %}

{% include RelatedProjects.html %} 

{% include ListOfPosts.html %} 

</div><!--<div id="sidebar">-->

<div id="main">

<div id="header">
<h1>{{ page.title }}</h1>
</div><!--<div id="header">-->

<div id="content">
{{ content }}
</div><!--<div id="content">-->

</div><!--<div id="main">-->

</body>
</html>
